{% extends "web_aplication/base.html" %}
{% block content %}

	<div class="container">
		<h1 align="center">Fabricantes</h1>
		<form action="/list/fabricante/" method="post" class="post-form">{% csrf_token %}
		    <table align="center">
				<tr bgcolor="#E5E4E2">
					<th></th>
					<th>Id</th>
					<th>Nome</th>
					<th>CNPJ</th>
				</tr><br>
				{% for fabricante in fabricantes %}
				<tr>
					<td><input type="checkbox" name="check_fabricantes" value="{{ fabricante.id }}"></td>
					<td>{{ fabricante.id }}</td>
					<td>{{ fabricante.nome }}</td>
					<td>{{ fabricante.cnpj }}</td>
				</tr>
				{% endfor %}
			</table><br>
			<button align="center" type="submit" class="btn btn-danger">Excluir</button>
		</form>
	</div>
{% endblock %}
